:root {
  --main-color: #00fddc;
  --mouse-x: 0px;
  --mouse-y: 0px;
  cursor: none;
}

body {
  cursor: none;
  transition: 0.4s ease-in;
  background-color: var(--main-color);
  margin: 0;
  font-size: 1.2em;
  mix-blend-mode: difference;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body:lang(en) {
  font-size: 1em;
}

.logo {
  max-width: 60%;
  pointer-events: none;
  position: absolute;
}

.mouse {
  pointer-events: none;
  width: 50px;
  height: 50px;
  position: fixed;
  left: calc(var(--mouse-x) - 10px);
  top: calc(var(--mouse-y) - 15px);
}

body.dark {
  transition: 0.4s ease-in;
  background-color: black;
  margin: 0;
}

.content {
  transition: 0.4s ease-in;
  transition: 1s;
  margin: 5%;
  margin-top: 5%;
  width: 90%;
}

.content.busy {
  transform: rotate(2deg);
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.content.calm {
  grid-template-columns: 0fr 3fr 0fr;
  transform: rotate(0deg);
}

.content.dark {
  background-color: black;
  color: white;
}

.content.light {
  background-color: white;
  color: black;
}

.content__article--big,
.content__article--small {
  font-family: sans-serif;
  padding: 1em;
}

.content__article--small {
  mix-blend-mode: difference;
}

.content__article--big > p {
  font-size: 1.5em;
}

input[type='checkbox']:hover {
  cursor: none;
}

label:hover {
  cursor: none;
}

input[type='checkbox']:checked + div {
  display: none;
}

.content__article--big {
  grid-column-start: span 3;
  transition: 0.4s ease-in;
}

.content__article--big.busy {
  transform: rotate(-4deg);
}

.content__article--big.calm {
  transform: rotate(0deg);
}

.content__article--small.light {
  background-color: var(--main-color);
  transition: 0.4s ease-in;
}

.content__article--small.dark {
  background-color: black;
  transition: 0.4s ease-in;
}

.content__article--small.busy {
  transform: rotate(2deg);
}

.content__article--small.calm {
  transform: rotate(0deg);
}

.content__article--small:nth-child(2) {
  grid-row-start: 2;
  grid-column-start: 1;
}

.content__article--small:nth-child(3) {
  grid-row-start: 3;
  grid-column-start: 2;
}

.content__article--small:nth-child(4) {
  grid-row-start: 4;
  grid-column-start: 3;
}
.content__article--small:nth-child(5) {
  grid-row-start: 5;
  grid-column-start: 2;
}
.content__article--small:nth-child(6) {
  grid-row-start: 6;
  grid-column-start: 1;
}
.content__article--small:nth-child(7) {
  grid-row-start: 7;
  grid-column-start: 2;
}

.switchButton {
  z-index: 1;
  background-color: var(--main-color);
  mix-blend-mode: difference;
  position: fixed;
  height: 5em;
  width: 5em;
  top: 85%;
  left: 90%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div:hover {
  cursor: none;
}

a:hover {
  cursor: none;
}

.lightButton {
  z-index: 1;
  background-color: var(--main-color);
  mix-blend-mode: difference;
  position: fixed;
  height: 5em;
  width: 5em;
  top: 85%;
  left: 80%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.positionButton {
  z-index: 1;
  background-color: var(--main-color);
  mix-blend-mode: difference;
  position: fixed;
  height: 5em;
  width: 5em;
  top: 85%;
  left: 70%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
